@using WebApplication1.EfStuff.Model.Firemen;
@model FiremanViewModel

<h1>New Worker Information</h1>

<form action="@Url.Action("CreateFireman", "Fireman")" method="post">
    <div>
        Name : @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        Age : @Html.TextBoxFor(x => x.Age)
    </div>
    <div>
        Worker Role :
        <select asp-for="Role"
                class="form-control"
                asp-items="Html.GetEnumSelectList<FireWorkerRole>()" style="width: 30%">
            <option>Select Role ...</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div>
        Work Experience Years : @Html.TextBoxFor(x => x.WorkExperYears)
    </div>
    <div>
        Team Name : @Html.TextBoxFor(x => x.TeamName)
    </div>
    <div>
        <input type="submit" value="Add new worker">
    </div>
</form>