@model FiremanViewModel

<h1>Edit worker</h1>

<form action="@Url.Action("Edit", "Fireman")" method="post">
    <div>
        Name : @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        Role : @Html.TextBoxFor(x => x.Role)
    </div>
    <div>
        Work Experience Years : @Html.TextBoxFor(x => x.WorkExperYears)
    </div>
    <div>
        Team Name : @Html.TextBoxFor(x => x.TeamName)
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>