@model SchoolViewModel


<h1>@ViewData["Title"]</h1>

<div class="container topPadding">
    <h1 class="forFlexDisplay">@Model.Name</h1>
    <p>@Model.Description</p>
    <p>В данный момент в школу обучаются @Model.PupilCount студентов</p>
    <hr />
    <p>@Model.Address</p>
</div>
