@{
    ViewData["Title"] = "Main page";
    Layout = "~/Views/Shared/Airport/_LayoutAirport.cshtml";
}

@section Styles {
    <link href="~/Airport/css/index/styles.css" rel="stylesheet" />
}
@model List<WebApplication1.Models.Airport.IncomingFlightInfoViewModel>

@functions {
    public string GetClassByFlighState(string state)
    {
        switch (state)
        {
            case "Landed":
                return "table-success";
            case "Delayed":
                return "table-danger";
        }
        return string.Empty;
    }
}
<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-7">
                <h1>Hello world</h1>
            </div>
            <div class="col-5">
                <img class="rounded" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fpassenger-airplane-taking-off-picture-id494996104%3Fk%3D6%26m%3D494996104%26s%3D170667a%26w%3D0%26h%3DmoMsZSAPedJR1HqvpSoZSfjnY6AtJWamtfqwT3Bmmg4%3D&f=1&nofb=1" alt="plane taking off" />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="table-header">
        <button id="btnIncomingFlights" type="button" class="btn btn-light">Incoming Flights</button>
        <button id="btnDepartingFlights" type="button" class="btn btn-outline-light">Departing Flights</button>
    </div>
    <div class="container justify-content-md-center">
        <div class="row-auto">
            <div class="col">
                <table id="flights-table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Рейс</th>
                            <th id="place" scope="col">Откуда</th>
                            <th scope="col">Время прибытия</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Авиакомпания</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var incomingFlight in Model)
                            {
                                <tr>
                                    <th>@incomingFlight.FlightId</th>
                                    <td>@incomingFlight.Origin</td>
                                    <td>@incomingFlight.ETA</td>
                                    <td class="@GetClassByFlighState(incomingFlight.Status)">@incomingFlight.Status</td>
                                    <td>@incomingFlight.Airline</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Airport/js/index/script.js"></script>
}
