@using WebApplication1.Services
@inject IUserService userService


<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div>
        <h1 class="display-4 font-italic">Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam sed ex at imperdiet. Nulla vel malesuada quam. Morbi sit amet mi quis nibh hendrerit tincidunt. Aenean pellentesque a justo at faucibus. Cras a sapien pretium, varius turpis eu, egestas orci. Cras aliquam at mauris vel accumsan. Nam libero tellus, sodales et lectus quis, facilisis blandit risus. Nulla facilisi.</p>

    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Image/cbs_bus_ordinary.jpg" data-holder-rendered="true">
            <div class="card-body">
                <h4>Ordinary</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam sed ex at imperdiet.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("View", "Index", "Bus")</button>
                        @if (userService.IsPolicment() || true) // to fix
                        {
                            <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Settings", "BusPark", "Bus")</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Image/cbs_bus_touristic.jpg" data-holder-rendered="true">
            <div class="card-body">
                <h4>Touristic</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam sed ex at imperdiet.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("View", "Index", "Bus")</button>
                        @if (userService.IsPolicment() || true) // to fix
                        {
                            <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Settings", "BusPark", "Bus")</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Image/cbs_bus_school.jpg" data-holder-rendered="true">
            <div class="card-body">
                <h4>School</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam sed ex at imperdiet.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("View", "Index", "Bus")</button>
                        @if (userService.IsPolicment() || true) // to fix
                        {
                            <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Settings", "BusPark", "Bus")</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Image/cbs_bus_city_touristic.jpg" data-holder-rendered="true">
            <div class="card-body">
                <h4>City</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam sed ex at imperdiet.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("View", "Index", "Bus")</button>
                        @if (userService.IsPolicment() || true) // to fix
                        {
                            <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Settings", "BusPark", "Bus")</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Image/cbs_bus_super_special.jpg" data-holder-rendered="true">
            <div class="card-body">
                <h4>Special</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam sed ex at imperdiet.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("View", "Index", "Bus")</button>
                        @if (userService.IsPolicment() || true) // to fix
                        {
                            <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Settings", "BusPark", "Bus")</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Image/cbs_bus_special.jpg" data-holder-rendered="true">
            <div class="card-body">
                <h4>City administration</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam sed ex at imperdiet.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("View", "Index", "Bus")</button>
                        @if (userService.IsPolicment() || true) // to fix
                        {
                            <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Settings", "BusPark", "Bus")</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>








@*<h2>Our buses</h2>
    <div class="list-group" id="list-tab" role="tablist">
        <ul class="navbar-nav flex-grow-1 list-group">
            <li class="list-group-item list-group-item-action">@Html.ActionLink("New bus", "BusPark", "Bus")</li>
            <li class="list-group-item list-group-item-action">@Html.ActionLink("Edit bus", "Edit", "Bus")</li>
            <li class="list-group-item list-group-item-action">@Html.ActionLink("Bus park", "Index", "Bus")</li>
        </ul>
    </div>*@






@*<ul class="navbar-nav flex-grow-1">
        <li class="list-group-item">@Html.ActionLink("New bus", "BusPark", "Bus")</li>
        <li class="list-group-item">@Html.ActionLink("Edit bus", "Edit", "Bus")</li>
        <li class="list-group-item">@Html.ActionLink("Bus park", "Index", "Bus")</li>
        <li class="list-group-item">@Html.ActionLink("New route", "RoutesMap", "TripRoute")</li>
        <li class="list-group-item">@Html.ActionLink("Routes", "Index", "TripRoute")</li>
    </ul>*@