<ul class="navbar-nav flex-grow-1">
  
    <li class="list-group-item">@Html.ActionLink("New bus", "BusPark", "Bus")</li>
    <li class="list-group-item">@Html.ActionLink("Edit bus", "Edit", "Bus")</li>
    <li class="list-group-item">@Html.ActionLink("Bus park", "Index", "Bus")</li>

    <li class="list-group-item">@Html.ActionLink("New route", "RoutesMap", "TripRoute")</li>
    <li class="list-group-item">@Html.ActionLink("Routes", "Index", "TripRoute")</li>
    
</ul>