@model StudentViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1>Add New Student</h1>
            <form action="/Person/AddNewOrEditStudent" method="post" enctype="multipart/form-data">
                <div>
                    Avatar: <input class="form-control" type="file" name="@nameof(StudentViewModel.AvatarFile)" />                   
                </div>
                <div>
                    IIN: @Html.TextBoxFor(x => x.IIN, new { Class = "form-control", @maxlength = "12" })
                </div>
                <div>
                    Surname: @Html.TextBoxFor(x => x.Surname, new { Class = "form-control" })
                </div>
                <div>
                    Name: @Html.TextBoxFor(x => x.Name, new { Class = "form-control" })
                </div>
                <div>
                    Patronymic: @Html.TextBoxFor(x => x.Patronymic, new { Class = "form-control" })
                </div>                
                <div>
                    Birthday:
                    <div class="row">
                        @Html.EditorFor(model => model.Birthday, "Date", new { Class = "form-control" })
                    </div>

                </div>
                <div>
                    Email: @Html.TextBoxFor(x => x.Email, new { Class = "form-control" })
                </div>
                <div class="margin20">
                    <div class="row">
                        <div class="col-sm-4">
                            <select asp-for="University.Name" class="form-control" asp-items="ViewBag.Universities"><option>University</option></select>
                        </div>

                        <div class="col-sm-4">
                            <select asp-for="OnGrant" class="form-control">
                                <option selected>On Grant</option>
                                <option>true</option>
                                <option>false</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select asp-for="CourseYear" class="form-control" asp-items="new SelectList(Enumerable.Range(1, 4))"><option>Course Year</option></select>
                        </div>
                    </div>
                </div>
                <div class="margin20">
                    <select asp-for="Faculty" class="form-control" asp-items="ViewBag.Faculties"><option>Faculty</option></select>
                </div>
                <div style="margin-top:20px">
                    <div class="row">
                        <div class="col-sm-6">
                            Entered Year:
                            @Html.EditorFor(model => model.EnteredYear, "Date", new { Class = "form-control" })
                        </div>

                        <div class="col-sm-6">
                            Graduated Year:
                            @Html.EditorFor(model => model.GraduatedYear, "Date", new { Class = "form-control" })
                        </div>
                    </div>

                </div>
                <div>
                    Gpa: @Html.TextBoxFor(x => x.Gpa, new { Class = "form-control" })
                </div>

                <div class="margin20" style="margin-bottom:50px">
                    <input class="btn btn-primary" type="submit" value="Add New Student" />
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .margin20{
        margin-top:20px;
    }
</style>