@model PupilViewModel

<div class="container">

    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1>Add New Pupil</h1>
            <form action="/Person/AddNewOrEditPupil" method="post" enctype="multipart/form-data">
                <div>
                    Avatar: <input class="form-control" type="file" name="@nameof(PupilViewModel.AvatarFile)" />
                </div>
                <div>                    
                    IIN: @Html.TextBoxFor(x => x.Iin, new { Class = "form-control", @required = "required", @maxlength = "12" })
                </div>
                <div>
                    Surname: @Html.TextBoxFor(x => x.Surname, new { Class = "form-control" })
                </div>
                <div>
                    Name: @Html.TextBoxFor(x => x.Name, new { Class = "form-control", @required = "required" })
                </div>
                <div>
                    Patronymic: @Html.TextBoxFor(x => x.Patronymic, new { Class = "form-control" })
                </div>                
                <div>
                    Birthday:
                    <div class="row">
                        @Html.EditorFor(model => model.Birthday, "Date", new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>

                </div>
                <div>
                    Email: @Html.TextBoxFor(x => x.Email, new { Class = "form-control", @required = "required" })
                </div>
                <div class="topMargin20">
                    <div class="row">
                        <div class="col-sm-6 topMargin20">
                            <select asp-for="School.Name" class="form-control" asp-items="ViewBag.Schools"><option selected disabled>Schools</option></select>
                        </div>

                        <div class="col-sm-6">
                            <select asp-for="ClassYear" class="form-control" asp-items="new SelectList(Enumerable.Range(1, 11))"><option selected disabled>Class Year</option></select>
                        </div>
                    </div>
                </div>
                <div class="topMargin20">

                    <div class="row">
                        <div class="col-sm-6">
                            <select asp-for="AverageMark" class="form-control" asp-items="new SelectList(Enumerable.Range(1, 12))"><option selected disabled>Average Mark</option></select>
                        </div>

                        <div class="col-sm-6">
                            <select asp-for="ENT" class="form-control" asp-items="new SelectList(Enumerable.Range(50, 91))"><option selected disabled>ENT</option></select>
                        </div>
                    </div>
                </div>
                <div>
                    Graduated Year:  @Html.EditorFor(model => model.GraduatedYear, "Date", new { htmlAttributes = new { @class = "form-control" } })

                </div>

                <div class="topMargin20 bottomMargin50">
                    <input class="btn btn-primary" type="submit" value="Add New Pupil" />
                </div>
            </form>
        </div>
    </div>
</div>

