@model PupilViewModel

<div class="container">

    <div class="row">
        <div class="col-sm-6 offset-3">

            <h1>Add New Pupil</h1>
            <form action="/Person/AddNewOrEditPupil" method="post">
                @*upload file (загрузить аватарку)*@
                <div>
                    IIN: @Html.TextBoxFor(x => x.IIN, new { Class = "form-control", @maxlength = "12" })
                </div>
                <div>
                    Surname: @Html.TextBoxFor(x => x.Surname, new { Class = "form-control" })
                </div>
                <div>
                    Name: @Html.TextBoxFor(x => x.Name, new { Class = "form-control" })
                </div>
                <div>
                    Patronymic: @Html.TextBoxFor(x => x.Patronymic, new { Class = "form-control" })
                </div>
                <div>
                    Birthday:
                    <div class="row">
                        @Html.EditorFor(model => model.Birthday, "Date", new { Class = "form-control" })
                    </div>

                </div>
                <div>
                    Email: @Html.TextBoxFor(x => x.Email, new { Class = "form-control" })
                </div>
                <div class="margin20">
                    <div class="row">
                        <div style="margin-top:20px" class="col-sm-6">
                            <select asp-for="School.Name" class="form-control" asp-items="ViewBag.Schools"><option>Schools</option></select>
                        </div>

                        <div class="col-sm-6">
                            <select asp-for="ClassYear" class="form-control" asp-items="new SelectList(Enumerable.Range(1, 12))"><option>Class Year</option></select>
                        </div>
                    </div>
                </div>
                <div class="margin20">

                    <div class="row">
                        <div class="col-sm-6">
                            <select asp-for="AverageMark" class="form-control" asp-items="new SelectList(Enumerable.Range(1, 12))"><option>Average Mark</option></select>
                        </div>

                        <div class="col-sm-6">
                            <select asp-for="ENT" class="form-control" asp-items="new SelectList(Enumerable.Range(50, 91))"><option>ENT</option></select>
                        </div>
                    </div>
                </div>
                <div>
                    Graduated Year: @Html.EditorFor(model => model.GraduatedYear, "Date", new { Class = "form-control" })
                </div>
               
                <div class="margin20" style="margin-bottom:50px">
                    <input class="btn btn-primary" type="submit" value="Add New Pupil" />
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .margin20 {
        margin-top: 20px;
    }
</style>
