@model StudentViewModel

    <div class="container">
        <h1>
            Add
        </h1>
        <div class="row">
            <div class="col-sm-6 offset-3">


                <form action="/Person/AddNewStudent" method="post">
                    <div>
                        IIN: @Html.TextBoxFor(x => x.IIN, new { Class = "form-control" })
                    </div>
                    <div>
                        Surname: @Html.TextBoxFor(x => x.Surname, new { Class = "form-control" })
                    </div>
                    <div>
                        Name: @Html.TextBoxFor(x => x.Name, new { Class = "form-control" })
                    </div>
                    <div>
                        Patronymic: @Html.TextBoxFor(x => x.Patronymic, new { Class = "form-control" })
                    </div>
                    <div>
                        @*Birthday: @Html.TextBoxFor(x => x.Birthday)*@  @* сделать селект из чисел*@
                        @*@Html.ListBox("countires", new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }))*@
                       @* <select asp-for="CompanyId" asp-items="ViewBag.Companies"></select>*@

                    </div>
                    <div>
                        Email: @Html.TextBoxFor(x => x.Email, new { Class = "form-control" })
                    </div>
                    <div>
                        UnversityId: @Html.TextBoxFor(x => x.UniversityId) @* сделать селект из сущ. уник ID*@
                    </div>
                    <div>
                        Faculty: @Html.TextBoxFor(x => x.Faculty) @* сделать селект из факультетов, но сначало создать Enumerable faculty*@
                    </div>
                    <div>
                        OnGrant: @Html.TextBoxFor(x => x.OnGrant) @* сделать селект Yes/No*@
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div>
                        Course Year: @Html.TextBoxFor(x => x.CourseYear)   @* сделать селект 1-4*@
                    </div>
                    <div>
                        Entered Year: @Html.TextBoxFor(x => x.EnteredYear) @* сделать селект 1990-2021*@
                    </div>

                    <div>
                        Graduated Year: @Html.TextBoxFor(x => x.GraduatedYear) @* сделать селект 1990-2021*@
                    </div>

                    <div>
                        Gpa: @Html.TextBoxFor(x => x.Gpa) @* сделать селект 0-4*@
                    </div>

                    <div>
                        <input type="submit" value="Add" />
                    </div>
                </form>
            </div>
        </div>
    </div>