@model PupilViewModel


<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1>@Model.Surname @Model.Name @Model.Patronymic</h1>

            <div class="card" style="width: 28rem; margin-bottom: 50px">
                @if (Model.AvatarUrl == null)
                {
                    <img src="/Education/img/ava1.png" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="@Model.AvatarUrl" class="card-img-top" alt="...">
                }
                <div class="card-body">
                    <h5 class="card-title" style="display:flex; justify-content:center; align-items:center;">Full Info</h5>
                    <p class="card-text">Email:<b>@Model.Email</b></p>
                    <p class="card-text">Birthday: <b>@Model.Birthday</b></p>
                    <p class="card-text">School: <b>@Model.School.Name</b></p>
                    <p class="card-text">Class Year: <b>@Model.ClassYear</b></p>
                    <p class="card-text">Graduated Year: <b>@Html.DisplayFor(x => x.GraduatedYear, "{0:dd/MM/yyyy}")</b></p>
                    <p class="card-text">Average Mark: <b>@Model.AverageMark</b></p>
                    <p class="card-text">ENT: <b>@Model.ENT</b></p>
                    @if (Model.Certificate != null)
                    {
                        <p class="card-text">Certificate: <b>@Model.Certificate.Type</b></p>
                    }
                </div>
            </div>
            @if (Model.Certificate != null)
            {
                <div style="width: 28rem; margin-bottom: 50px">
                    <img src="@Model.Certificate.CertificateImgUrl" class="card-img-top" alt="...">
                </div>
            }
        </div>
    </div>

</div>
