@model PupilViewModel


<h1>@ViewData["Title"]</h1>

<div class="container">
    <h1>@Model.Surname @Model.Name @Model.Patronymic</h1>

    <div class="card" style="width: 28rem;">
        @*<img src="..." class="card-img-top" alt="...">*@
        <div class="card-body">
            <h5 class="card-title" style="display:flex; justify-content:center; align-items:center;">Full Info</h5>
            <p class="card-text">Email:<b>@Model.Email</b></p>
            <p class="card-text">Birthday: <b>@Model.Birthday</b></p>
            <p class="card-text">School ID: <b>@Model.SchoolId</b></p>
            <p class="card-text">Subject: <b>@Model.Subject</b></p>
            <p class="card-text">Class Year: <b>@Model.ClassYear</b></p>
            <p class="card-text">Graduated Year: <b>@Model.GraduatedYear</b></p>
            <p class="card-text">Average Mark: <b>@Model.AverageMark</b></p>
            <p class="card-text">ENT: <b>@Model.ENT</b></p>
        </div>
    </div>

</div>
