@model StudentViewModel


<h1>@ViewData["Title"]</h1>

<div class="container" style="display:flex; flex-direction:row;">
    <div style="padding:50px">
        <h1>@Model.Surname @Model.Name @Model.Patronymic</h1>
        @if (Model.AvatarUrl == null)
        {
            <img src="/Education/img/ava1.png">
        }
        else
        {
            <img src="@Model.AvatarUrl">
        }
    </div>


    <div style="padding:50px">
        <h5 style="display:flex; justify-content:center; align-items:center;">Full Info</h5>
        <p>Email: <b>@Model.Email</b></p>
        <p>Birthday: <b>@Model.Birthday</b></p>
        <p>University: <b>@Model.University.Name</b></p>
        <p>Faculty: <b>@Model.Faculty</b></p>
        <p>Course Year: <b>@Model.CourseYear</b></p>
        <p>Entered Year: <b>@Html.DisplayFor(x => x.EnteredYear)</b></p>
        <p>Graduated Year: <b> @Html.DisplayFor(x => x.GraduatedYear)</b></p>
       
        <p>Gpa: <b>@Model.Gpa</b></p>
        <p>On Grant: <b>@Model.IsGrant</b></p>
        @foreach (var certificate in Model.Certificates)
        {
            <p>Certificate: <b>@certificate.Type</b></p>
        }
    </div>

</div>
<div style="display:flex; flex-direction:row; margin-bottom: 50px">
    @foreach (var certificate in Model.Certificates)
    {
        <img src="/Education/img/certificateImg/@certificate.CertificateImgUrl" style="width:400px;">
    }

</div>
