@model StudentViewModel


<h1>@ViewData["StudentFullInfo"]</h1>

<div class="container forFlexDisplay">
    <div class="padding50">
        <h1>@Model.Surname @Model.Name @Model.Patronymic</h1>
        <img src=@(Model.AvatarUrl == null ? "/Education/img/ava1.png" : $"{Model.AvatarUrl}") class="card-img-top">
    </div>


    <div class="padding50">
        <h5 class="forFlexDisplay">Full Info</h5>
        <p>Email: <b>@Model.Email</b></p>
        <p>Birthday: <b>@Model.Birthday</b></p>
        <p>University: <b>@Model.University.Name</b></p>
        <p>Faculty: <b>@Model.Faculty</b></p>
        <p>Course Year: <b>@Model.CourseYear</b></p>
        <p>Entered Year: <b>@Html.DisplayFor(x => x.EnteredYear)</b></p>
        <p>Graduated Year: <b> @Html.DisplayFor(x => x.GraduatedYear)</b></p>

        <p>Gpa: <b>@Model.Gpa</b></p>
        <p>On Grant: <b>@Model.IsGrant</b></p>
        @foreach (var certificate in Model.Certificates)
        {
            <p>Certificate: <b>@certificate.CertificateType</b></p>
        }
    </div>

</div>
<div class="forDisplayCertificate">
    @foreach (var certificate in Model.Certificates)
    {
        <img src="/Education/img/certificateImg/@certificate.CertificateImgUrl" class="width400">
    }

</div>
