@model FullProfileViewModel

<h1>
    Полный профиль @Model.Name.
</h1>
<div>
    <img class="avatar" src="@Model.AvatarUrl" />
</div>
<form action="@Url.Action("CreateUser", "Citizen")" method="post" enctype="multipart/form-data">
    <div>
        Аватар: <input type="file" name="@nameof(FullProfileViewModel.AvatarFile)" />
    </div>
    <div>
        Имя: @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        Возраст: @Html.TextBoxFor(x => x.Age)
    </div>
    <div>
        Профессия: @Html.TextBoxFor(x => x.Job)
    </div>
    <div>
        <input type="submit" value="Создать пользователя" />
    </div>
</form>
