@using WebApplication1.Localization
@model FullProfileViewModel

<h1>
    @Resource.FullProfile_Title @Model.Name
</h1>
<div>
    <img class="avatar" src="@Model.AvatarUrl" />
</div>
<form action="@Url.Action("CreateUser", "Citizen")" method="post" enctype="multipart/form-data">
    <div>
        Аватар: <input type="file" name="@nameof(FullProfileViewModel.AvatarFile)" />
    </div>
    <div>
        @Html.DisplayNameFor(x => x.Name): @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        @Html.DisplayNameFor(x => x.Age): @Html.TextBoxFor(x => x.Age)
        @Html.ValidationMessageFor(x => x.Age)
    </div>
    <div>
        Профессия: @Html.TextBoxFor(x => x.Job)
    </div>
    <div>
        <input type="submit" value="@Resource.FullProfile_CreateUser" />
    </div>
</form>
