
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        <a class="nav-link text-dark"
                           href="@Url.Action("Index", "Restorans")">Все рестораны</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark"
                           href="@Url.Action("AvailableResto", "Restorans")">Доступные рестораны</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark"
                           href="@Url.Action("CreateResto", "Restorans")">Добавить Ресторан</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark"
                           href="@Url.Action("NewRequestBron", "Restorans")">Новые заказы столов</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark"
                           href="@Url.Action("CheckBron", "Restorans")">Проверка статуса брони</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark"
                           href="@Url.Action("Login", "AdminsResto")">Login Admin</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark"
                           href="@Url.Action("Register", "AdminsResto")">Register Admin</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark"
                           href="@Url.Action("Exit", "AdminsResto")">Exit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Сайт про прекрасный город
            </div>
        </footer>
</body>
</html>
