@using WebApplication1.Services
@inject UserService userService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
    <link href="~/lib/izimodal/css/iziModal.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css?v=6" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/lib/izimodal/js/iziModal.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("PoliceMain", required: false)
    @RenderSection("Style", required: false)
</head>
<body>
    <!--TODO: Переделать меню-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 d-flex flex-wrap">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @* <li class="nav-item active">
                                <a class="nav-link" href="#">Main page <span class="sr-only">(current)</span></a>
                            </li>*@


                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle list-group-item">Citizens <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a class="dropdown-item nav-link text-dark" href="@Url.Action("Login", "Citizen")">Login</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item nav-link text-dark" href="@Url.Action("Register", "Citizen")">Register</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link text-dark" href="@Url.Action("Exit", "Citizen")">Exit</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("Index", "Citizen")">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("FullProfile", "Citizen")">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("Index", "Adress")">Addresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("Add", "Adress")">Add address</a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a asp-controller="police" asp-action="main" class="dropdown-toggle list-group-item">Police department <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="police" asp-action="main">Main</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="police" asp-action="news">News</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="police" asp-action="duties">Policemens</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="police" asp-action="users">Citizens</a>
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle list-group-item">Fire department <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("Main", "Fireman")">Fireman</a>
                                </li>

                            </ul>
                        </li>



                        <li class="nav-item dropdown">
                           
                            <a class="dropdown-toggle list-group-item text-dark"> Education</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="EducationalInstitution" asp-action="index">Main</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="EducationalInstitution" asp-action="UniversityList">Universities</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="EducationalInstitution" asp-action="SchoolList">Schools</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="Person" asp-action="StudentListAndSearch">Students</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" asp-controller="Person" asp-action="PupilListAndSearch">Pupils</a>
                                </li>

                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle list-group-item">Sport <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("Index", "SportComplex")">Sport complexes</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("AddComplex", "SportComplex")">Add sport complexes</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("Index", "SportEvent")">Sport events</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("AddEvent", "SportEvent")">Add sport event</a>
                                </li>
                            </ul>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle list-group-item">Transport <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("Index", "Airport")">Airport</a>
                                </li>
                                <li>
                                    <a class="dropdown-item nav-link text-dark" href="@Url.Action("CityBusSystemMainPage", "Bus")">Bus System</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <wrapper class="police-call" data-izimodal-open="#police-call-modal">
        <div class="dws">
            <div class="pulse">
                <div class="bloc"></div>
                <div class="phone">
                    <span class="material-icons">
                        call
                    </span>
                </div>
                <div class="text">Связь с полицией</div>
            </div>
        </div>
    </wrapper>
    <div id="police-call-modal" style="display: none">
        @await Html.PartialAsync("_PoliceCall", new PoliceCallViewModel())
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Сайт про прекрасный город
        </div>

    </footer>
</body>
</html>
