@model TripViewModel
<h3>Map</h3>



<form action="@Url.Action("CreateRoute", "TripRoute")" method="post">
    <br>
    <div>
        Route title: <input class="form-control" type="text" name="title">
        @*Bus model: @Html.TextBoxFor(x => x.Model, new { Class = "form-control" })*@
    </div>
    <br>
    <div>
        Route type: <input class="form-control" type="text" name="type">
        @*Bus type: @Html.TextBoxFor(x => x.Type, new { Class = "form-control" })*@
    </div>
    <br>
    <div>
        Route length: <input class="form-control" type="text" name="length">
        @*Bus capacity: @Html.TextBoxFor(x => x.Capacity, new { Class = "form-control" })*@
    </div>
    <br>
    <div>
        Bus price: <input class="form-control" type="text" name="price">
        @*Bus price:  @Html.TextBoxFor(x => x.Price, new { Class = "form-control" })*@
    </div>
    <br>
    <div>
        <button class="btn btn-secondary" type="submit">Add</button>
    </div>
    <br>
</form>
