@{
    ViewData["Title"] = "FireTrucks";
    Layout = "~/Views/Shared/Fireman/_LayoutFireman.cshtml";
}
@model List<WebApplication1.Models.FiremanModels.FireTruckViewModel>
@section Scripts{
    <script src="~/js/firetruck.js"></script>
}
<h1>
    All FireTrucks
</h1>
<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        margin-left: 30px;
    }
</style>


<table>
    <tr>
        <th>Truck Id</th>
        <th>Truck Number</th>
        <th>Truck State</th>
        <th>Team Name</th>
    </tr>
    @foreach (var truck in Model)
    {
<tr class="truck">
    <td>@truck.Id</td>
    <td>@truck.TruckNumber</td>
    <td>@truck.TruckState</td>
    <td>@truck.TeamName</td>

    <td><input type="button" class="delete" data-name="@truck.Id" value="delete" /></td>
</tr>
    }
</table>