@{
    ViewData["Title"] = "FireIncident";
    Layout = "~/Views/Fireman/_LayoutFireman.cshtml";
}
@model WebApplication1.Models.FiremanModels.FireIncidentViewModel
@using WebApplication1.EfStuff.Model.Firemen

<h1>New Fire Incident</h1>

<form action="@Url.Action("AddFireIncident", "FireIncident")" method="post">

    <div>
        Address : @Html.TextBoxFor(x => x.Address)
    </div>
    <div>
        Date : @Html.TextBoxFor(x => x.Date)
    </div>
    <div>
        Incident Status :
        <select asp-for="Status"
                class="form-control"
                asp-items="Html.GetEnumSelectList<IncidentStatus>()" style="width: 30%">
            <option>Select Status ...</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
     
    </div>
    <div>
        Reason : @Html.TextBoxFor(x => x.Reason)
    </div>
    <div>
        Injured people : @Html.TextBoxFor(x => x.Injured)
    </div>
    <div>
        Dead : @Html.TextBoxFor(x => x.Dead)
    </div>
    <div>
        Team Name : @Html.TextBoxFor(x => x.TeamName)
    </div>
    <div>
        <input type="submit" value="Add new incident">
    </div>
</form>